asgiref==3.7.2
dataclasses==0.6
Django==5.0.3
django-mongodb-engine==0.6.0
djangotoolbox==1.8.0
dnspython==2.6.1
iniconfig==2.0.0
mongoengine==0.28.2
packaging==24.0
pluggy==1.4.0
pymongo==4.6.2
pytest==8.1.1
pytest-django==4.8.0
pytest-mock==3.12.0
python-dotenv==1.0.1
sqlparse==0.4.4
