{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tittle }}</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <script href="{% static 'js/map.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
    <!-- Header -->
    <header class="sticky top-0 w-full h-24 bg-blue-50 flex items-center">
        <div class="">
            <h1 class="font-normal text-xl p-4">Food Truck Finder</h1>
        </div>
    </header>
    
        {% block content %}

        {% endblock %}
    
    <!-- Footer -->
    <footer class="h-40 w-full bg-black">
        <h1>Footer here some thing to do!</h1>
    </footer>

</body>
</html>

{% block scripts %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}